// font size
$base-font-size: 16px;

@function font-size-px-to-rem($size-in-pixel) {
  @return ($size-in-pixel / $base-font-size) * 1rem;
}

$font-size-xl: font-size-px-to-rem(34px);
$font-size-ll: font-size-px-to-rem(24px);
$font-size-l: font-size-px-to-rem(20px);
$font-size-m: font-size-px-to-rem(16px);
$font-size-s: font-size-px-to-rem(14px);
$font-size-ss: font-size-px-to-rem(13px);
$font-size-xs: font-size-px-to-rem(12px);
$font-size-2xs: font-size-px-to-rem(10px);

$color-white: #ffffff;
$color-blue: #3b5998;
$color-green: #50C7C7;
$color-red: #de5246;
$color-graylight20: rgb(128, 128, 128, 0.2);
$color-graylight30: rgb(128, 128, 128, 0.3);
$color-graylight40: rgb(128, 128, 128, 0.4);
$color-black: rgb(0,0,0);
$color-black10: rgb(0,0,0,0.1);
$color-black20: rgb(0,0,0,0.2);

$breakpoint-sp: 375px;
